@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* variables */
:root {

    --first-color: #000000;
    --body-color: #F7F8FB;
    --container-color: #FFF;
    --container-border-radius: 14px;
    --selector-btn: #C9C9CC;
    --selector-btn-active: #1479FF;
    

    /*========== Font and typography ==========*/
    --body-font: 'Lato', sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-color);
    font-family: var(--body-font);
    box-sizing: border-box;
    height: 100vh;
    padding: 24px;
}

.metrics-grid {
    margin-top: 4px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
}

/* Top Container */
.orders-card-container {
    display: grid;
    column-gap: 20px;
    grid-template-areas:
        'orders-metric-card-a orders-grid-container'
        'orders-metric-card-b orders-grid-container';
    grid-template-columns: 1fr 2fr;
}

.orders-metric-card-a {
    grid-area: orders-metric-card-a;
}

.orders-metric-card-b {
    grid-area: orders-metric-card-b;
}

.orders-grid-container {
    grid-area: orders-grid-container;
}

.orders-charts {
    margin-top: 1vh;
}

.orders-charts-container {
    background-color: var(--container-color);
    border-radius: 24px;
    height: 550px;
    margin-top: 10px;
}