@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* variables */
:root {

    --first-color: #000000;
    --body-color: #F7F8FB;
    --container-color: #FFF;
    --container-border-radius: 14px;
    --selector-btn: #C9C9CC;
    --selector-btn-active: #1479FF;
    

    /*========== Font and typography ==========*/
    --body-font: 'Lato', sans-serif;

}