@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* variables */
:root {

    --first-color: #000000;
    --body-color: #F7F8FB;
    --container-color: #FFF;
    --container-border-radius: 14px;
    --selector-btn: #C9C9CC;
    --selector-btn-active: #1479FF;
    

    /*========== Font and typography ==========*/
    --body-font: 'Lato', sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-color);
    font-family: var(--body-font);
    box-sizing: border-box;
    height: 100vh;
    padding: 24px;
}

.errorMsg {
    color: red;
    font-weight: 600;
}