.selectorBtn {
    background-color: var(--container-color);
    border: none;
    border-bottom: 2px var(--selector-btn) solid;
    height: 51px;
    width: calc(33vw/3);
    cursor: pointer;
}

.selectorBtn:hover {
    border-bottom: 2px var(--selector-btn-active) solid;
}

.active {
    color: #1479FF;
    font-weight: 700;
    border-bottom: 2px var(--selector-btn-active) solid;
    cursor: default;
}