.ordersMetricCard {
    background-color: var(--container-color);
    border-radius: var(--container-border-radius);
    height: 284px;
    margin-top: 4px;
    display: flex;
    align-items: center;
}

.ordersPieChart {
    max-width: 13vw;
}

.totalOrders {
    font-size: 50px;
    font-weight: 700;
    color: var(--first-color);
}